/* Asterisk Wildcard - Default Override*/

*{
    box-sizing: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */

header{
background-color: aqua;
}

/* Main */

main{
    background-color: aquamarine;
}

/* Footer */

footer{
    background-color: bisque;
}